
<div id="formcard" class="card text-center">
  <div class="card-header">
    
	</div>
	<div class="card-body">
    <h5 class="card-title">New Submission</h5>
<form>

	
	  <div class="form-group">
		</br>
		<center>	<input id="assname"  class="form-control" required placeholder="Assignment Name"/> </center>
			<label for="assname" class="sr-only">Assignment Name</label>
		</div>
	  <div class="form-group">
			<center>	<input id="courseid"  class="form-control" required placeholder="Course Code"/> </center>
			
		</div>

		<center>	<div class="form-group custom-file">
			<input type="file" style="width:70%" class="custom-file-input" id="file">
				<label class="custom-file-label"  for="file">Choose file</label>
			  </div>		</center>
			</br></br>
			
  <div class="alert alert-warning" id ="fail" style="display: none" role="alert">
		Submission Failed
	</div>
	
	<div class="alert alert-success" id ="succ" style="display: none" role="alert">
			Submission Recorded 
		</div>
<button class="btn btn-danger" id="sub">Submit</button>
</form>
</div>
<div class="card-footer text-muted">
	2 days ago
</div>
</div>